.header {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.half-page-width {
    width: 50%;
    height: auto;
}

.logo {
    max-height: 200px;
    width: auto;
}

.buttons-container {
    display: flex;
    flex-wrap: nowrap;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    font-family: Courier, Arial, Helvetica, sans-serif;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
  opacity:1;
}