html {
    box-sizing: border-box;
    font-family: 'B612 Mono', monospace;
    margin: 0;
    padding: 0;
   /* font-family: 'Roboto', sans-serif; */
}

body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.bold {
    font-weight: 700;
}

.half-page-width--logo {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.half-page-width {
    width: 50%;
    max-height: 100%;
}

.logo {
    max-height: 130px;
    width: auto;
}

.buttons-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 25%;
}

h1, h2, h3, h4 .flav-titles {
    font-family: 'B612 Mono', monospace;
}

h1 {
    display: inline-block;
    font-size: 2em;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 2em;
}

h4 {
    text-align: center;
}

.flex-container {
    display: flex;
}

.center {
    justify-content: center;
    align-items: flex-start;
}

.border-bottom {
    border-bottom: 2px solid black;
    position: absolute;
    padding-bottom: 3px;
}

.static-reset {
    position: static;
    height: 140px;
}

.h2--small {
    font-size: 2em;
    text-align: center;
}

.flav-titles {
    font-size: 1em;
}

p {
    padding: 10px 10px 0px;
    text-align: center;
}

.flav-titles > ul {
    list-style-type: none;
    text-align: center;
    margin-top: -50px;
}

.flav-titles > ul > li {
    display: inline-block;
    padding-right: 10px;
}

.flav-titles > ul > li + li::before {
    content: "~ "
}

li {
    list-style-type: none;
    list-style-image: url(/kiwicoffeeco2/coffee-bean.jpg);
    margin-bottom: 10px;
}

.thumbnail {
    display: none;
    width: 100px;
    padding: 20px;
}

.thumbnail--always {
    display: inline-block;
    width: 100px;
    padding: 20px;
}

@media screen and (min-width: 425px){
    .title-info > .thumbnail {
        display: block;
    }
}

@media screen and (min-width: 869px){
    .thumbnail {
        display: inline-block;
    }
}

.caps-center {
    text-transform: uppercase;
    display: block;
    text-align: center;
}

/* GLOBAL - the footer */

.footer {
    display: grid;
    height: auto;
    background-color: #5B5959;
    color: white;
    grid-template-columns: [col1-start] 30% [col1-end col2-start] 30% [col2-end col3-start] 30% [col3-end];
    grid-template-rows: [row1-start] auto [row1-end];
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: start;
    align-items: start;
    text-decoration: none;
}

.footer li {
    list-style-type: none;
    list-style-image: unset;
}

li a {
    text-decoration: none;
}

.footer-1 {
    grid-column-start: [col1-start];
    grid-column-end: [col1-end];
    grid-row-start: [row1-start];
    grid-row-end: [row1-end];
}

.footer-2 {
    grid-column-start: [col2-start];
    grid-column-end: [col2-end];
    grid-row-start: [row1-start];
    grid-row-end: [row1-end];
}

.footer-3 {
    grid-column-start: [col3-start];
    grid-column-end: [col3-end];
    grid-row-start: [row1-start];
    grid-row-end: [row1-end];
}

.footer-header {
    border-bottom: 2px solid green;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* farm info grid on product details page */

.thumbnail--large {
    width: 90%;
}
.grid-container {
    display: block;
}
.farm-info > * {
    width: 100%;
}

.farm-info-headings {
    text-transform: uppercase;
    font-size: x-large;
    margin: 0;
    justify-self: start;
}

.left-rotate {
    -ms-transform: none; /* IE 9 */
    -webkit-transform: none; /* Safari 3-8 */
    transform: none;
}

.right-rotate {
    -ms-transform: none; /* IE 9 */
    -webkit-transform: none; /* Safari 3-8 */
    transform: none;
}

.title-info {
    align-items: baseline;
    padding: 20px;
}

/* switching to paralax style images on small screens 
    1) product details pages - farm info section
*/

@media screen and (max-width: 500px){
    .left-image-1 {
        background: url(sustainable-coffee-farming.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 300px;
    }
    .right-image-1 {
        background: url(coffee-tree-plant.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 300px;
    }
    .left-image-2 {
        background: url(harvesting-ripe-coffee-beans.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 300px;
    }
    .left-image-1 img, .right-image-1 img, .left-image-2 img {
        display: none;
    }

    /* 2) Home page */
    
    .roastery-image {
        background: url(roastery.jpeg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        height: 300px;
    }
    .roastery-image img {
        display: none;
    }
    .coffee-brewing-image {
        background: url(coffee-brewing.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 300px;
    }
    .coffee-brewing-image img {
        display: none;
        background: grey;
    }
}


@media screen and (min-width:500px){
    .grid-container {
        display: grid;
        grid-template-columns: [col1-start] 30% [col1-end col2-start] 5% [col2-end col3-start] 30% [col3-end col4-start] 5% [col4-end col5-start] 30% [col5-end];
        grid-template-rows: [row1-start] auto [row1-end row2-start] auto [row2-end row3-start] auto [row3-end row4-start] auto [row4-end row5-start] auto [row5-end row6-start] auto [row6-end];
        grid-row-gap: 10px;
        grid-column-gap: 2%;
        justify-items: center;
        align-items: center;
        justify-content: stretch;
        padding: 50px;
        box-sizing: border-box;
    }

    .left-image-1 {
        grid-column-start: col1-start;
        grid-column-end: col1-end;
        grid-row-start: row1-start;
        grid-row-end: row2-end;
    }

    .right-image-1 {
        grid-column-start: col5-start;
        grid-column-end: col5-end;
        grid-row-start: row3-start;
        grid-row-end: row4-end;
    }

    .left-image-2 {
        grid-column-start: col1-start;
        grid-column-end: col1-end;
        grid-row-start: row5-start;
        grid-row-end: row6-end;
    }

    .farm-info-1 {
        display: flex;
        grid-column-start: col2-start;
        grid-column-end: col3-end;
        grid-row-start: row2-start;
        grid-row-end: row2-end;
    }

    .farm-info-2 {
        grid-column-start: col3-start;
        grid-column-end: col4-end;
        grid-row-start: row4-start;
        grid-row-end: row4-end;
    }

    .farm-info-3 {
        grid-column-start: col2-start;
        grid-column-end: col3-end;
        grid-row-start: row6-start;
        grid-row-end: row6-end;
    }

    .farm-info-heading-1 {
        grid-column-start: col2-start;
        grid-column-end: col3-end;
        grid-row-start: row1-start;
        grid-row-end: row1-end;
    }

    .farm-info-heading-2 {
        grid-column-start: col3-start;
        grid-column-end: col4-end;
        grid-row-start: row3-start;
        grid-row-end: row3-end;
    }

    .farm-info-heading-3 {
        grid-column-start: col2-start;
        grid-column-end: col3-end;
        grid-row-start: row5-start;
        grid-row-end: row5-end;
    }

    .left-rotate {
        -ms-transform: rotate(-15deg); /* IE 9 */
        -webkit-transform: rotate(-15deg); /* Safari 3-8 */
        transform: rotate(-15deg);
    }

    .right-rotate {
        -ms-transform: rotate(15deg); /* IE 9 */
        -webkit-transform: rotate(15deg); /* Safari 3-8 */
        transform: rotate(15deg);
    }
}

@media screen and (min-width: 1050px){
    .farm-info-1, .farm-info-3 {
        grid-column-end: col5-end;
    }
    .farm-info-2 {
        grid-column-start: col1-start;
    }
}

/* Category pages and products viewer */
.grid-container--products {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1%;
    padding-bottom: 50px;
}

@media screen and (max-width: 600px){
    .grid-container--products.single-row {
        grid-template-rows: [row1-start] auto [row1-end];
        grid-template-columns: repeat(6, 70%);
    }
    .single-row {
        grid-gap: 5%;
    }
    .grid-container--products.single-row a {
        grid-row-start: row1-start;
        grid-row-end: row1-end;
    }
    .grid-container--products.single-row {
        overflow: auto;
        scroll-snap-type: x mandatory; 
        scroll-snap-type: mandatory; 
        -ms-scroll-snap-type: mandatory; 
        -webkit-scroll-snap-type: mandatory; 
        -webkit-scroll-snap-destination: 0% 0%;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
    }
    .grid-container--products.single-row::-webkit-scrollbar {
        width:0;
    }
    .grid-container--products.single-row a {
        scroll-snap-align: center;
    }
    .product {
    }
}
@media screen and (min-width:601px) and (max-width:1263px){
    .grid-container--products {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    font-family: 'B612 Mono', monospace;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* specific buttons */
.account-button {
    padding-right: 5px;
}

/* Nav menu */

nav {
    background-color: #3ab54b;
}

nav label {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: #3ab54b;
    text-align: center;
    height: auto;
    font-size: 1em;
    text-transform: uppercase;
    overflow: hidden;
}

nav a {
    flex-grow: 1;
    flex-basis: auto;
    flex: 1 1 auto;
    display: inline-block;
    white-space: nowrap;
    padding: 10px;
    background-color: #3ab54b;
    text-decoration: none;
    color: white;
}

.hamburger {
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    display: none;
}

@media screen and (max-width: 420px ) {
    nav label {
        flex-direction: column;
        position: relative;
    }
    #menu-checkbox {
        position: absolute;
        height: 40px;
        width: 100%;
        display: block;
        top: 0px;
        cursor: pointer;
        opacity: 0;
    }
    .hamburger {
        display: block;
        padding: 20px;
    }
    .text-nav {
        display: block;
    }
    nav a {
        display: block;
    }
    nav a {
        display:none;
        height: 0px;
    }
    nav input:checked ~ a {
        display: block;
        height: 30px;
        width: 100%;
        z-index: 5;
        -webkit-transition: all 100ms ease-in;
        -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    }
}

.full-width, .full-width-flex-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.full-width--always {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 0px 20px 0px 20px;
}

.hero {
    flex-direction: column;
    height: 450px;
    flex-wrap: wrap;
}

@media screen and (max-width: 540px) {
    .hero {
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        order: 1;
    }
    .hero > .half-page-width {
        width: 100%;
    }
    .hero section {
        order: 3;
        padding-bottom: 25px;
    }
    .hero img {
        order: 2;
    }
}

.full-height {
    height: 100%;
}

.no-padding {
    padding: 0;
}

.no-styles {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    background-color: white;
}

@media screen and (min-width: 900px) {
    .wrapper {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    .wrapper--outer {
        background: url(coffee-farm-background.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.flex-columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*
    padding-bottom: 30px;
    padding-top: 30px;
    */
}

.desktop-only {
    list-style-type: none;
    text-align: center;
    display: none;
    color: #5B5959;
}

.desktop-only > ul {
    border-bottom: 1px solid #5B5959;
}

.desktop-only > ul > li + li {
    border-right: 1px solid #5B5959;
    border-left: 1px solid #5B5959;
}

.desktop-only > ul > li:last-of-type {
    border-right: none;
    border-left: none;
}

@media screen and (min-width: 600px){
    .desktop-only {
        display: inline-block;
    }
}

.fixed-full-width {
    width: 100%;
}

.fixed-full-width > ul {
    display: flex;
}

.fixed-full-width > ul > li {
    display: inline-block;
    flex-grow: 1;
}

.auto-size {
    width: 100%;
    max-height: 100%;
    padding: 0;
}

.bg-black {
    background-color: black;
    color: white;
    box-sizing: border-box;
    align-self: stretch;
}

.bg-grad {
    background-image: linear-gradient(to right, #0A2E36 , black);
    color: white;
    box-sizing: border-box;
    align-self: stretch;
}

.bg-green {
    background-color: #3ab54b;
}

.bg-white {
    background-color: white;
    color: black;
}

.rounded {
    -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding: 10px;
   margin: 5px;
}

.no-margin {
    margin: none;
    padding: none;
}

.button-link {
    font-family: 'B612 Mono', monospace;
    color: #ED7D3A;
   /* color: rgb(255, 136, 0); */
    padding: 14px 20px;
    margin: 8px 0;
    border: 3px solid rgb(255, 136, 0);
    cursor: pointer;
    opacity: 1;
    text-align: center;
}

.button-link--small {
    width: 20%;
    align-self: center;
    margin: 25px;
}

.button-link--green {
    border: 3px solid #3ab54b;
    width: auto;
    color: #3ab54b;
    text-transform: uppercase;
    margin: 20px;
}

.one-fifth {
    width: 15%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #3ab54b;
}

.one-fifth:hover {
    background-color: #3ab54b;
    cursor: pointer;
}

.product {
    position: relative;
    padding: 10px;
    margin: 10px;
    border: 1px solid #3ab54b;
    -webkit-transition: all 1.2s;
    transition: all 1.2s;
}

.product:hover {
    background-color: #3ab54b;
    color: white;
    cursor: pointer;
}

.hover-cover {
    display: none;
    position: absolute;
    top: 147px;
    color: black;
    font-size: x-large;
    border: solid white 2px;
    padding: 10px;
}

.product:hover .hover-cover {
    display: block;
    color: white;
}
.product:hover .thumbnail-container {
    opacity: 0;
}

.heavy-padding {
    padding: 10% 20% 10% 20%;
}

.left-right-padding {
    padding-left: 10%;
    padding-right: 10%;
}

.bg-grey {
    background:#f5f5f5;
    color: black;
    box-sizing: border-box;
}

.coffee-bean-border {
    width: 20px;
    position: relative;
    right: 50%;
    bottom: -26px;
}

.product-image, .add-to-cart, .product-description {
    width: 100%;
    box-sizing: border-box;
}

.product-description {
    margin-top: 10px;
}

.add-to-cart {
    box-shadow: -2px 2px 6px #888888;
}

.cart-sticky {
    position: sticky;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background: #3ab54b;
    color: black;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}
@media screen and (min-width: 425px){
    .cart-sticky{
        display: none;
    }
}
@media screen and (max-width: 425px) {
    .add-to-cart {
        box-shadow: none;
        padding: 5px;
        margin: 5px;
    }

    .price > label {
        width: 30%;
    }

    .flav-titles {
        display: none;
    }
}

.flavour-guide {
    background-color: white;
}

.half-width-image {
    width: 50%;
    padding-left: 25%;
}

.price > p {
    text-align: center;
}

.price > label {
    margin: 0px;
    width: 30%;
    border: 0px;
}


/* responsive stuff - product details page */

@media screen and (min-width: 600px) {
    .product-image {
        width: 35%;
    }
    .full-width {
        width: 50%;
        flex-wrap: wrap;
    }

    .cart-container {
        width: 65%;
        padding-top:0px;
        background-color: white;
    }
}


/* tabs for product details page */
input {
    display: none;
}

.tabbed {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #abc;
}

#g200g:checked ~ #content1, #g500g:checked ~ #content2 {
    margin-top: 0px;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    text-align: center;
    color: #abc;
    border: 1px solid transparent;
}

label:hover {
    color: #3ab54b;
    cursor: pointer;
}

input:checked + label {
    color: white;
    background-color: #3ab54b;
    -webkit-transition: background-color 1.2s;
    transition: background-color 1.2s;
}

#tab1:checked ~ #content1, #tab2:checked ~ #content2, #g200g:checked ~ #content1, #g500g:checked ~ #content2 {
    display: block;
}

#g200g:checked ~ .cart-button::after {
    content: " - $9.99";
}

#g500g:checked ~ .cart-button::after {
    content: " - $14.99";
}

/* add to cart form*/

.cart-button {
    width:98%;
    margin-left: 1%;
    margin-right: 1%;
}

#addToCart select, #grind {
    display: block;
}

.grind-icons {
    margin:5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grind-icons input {
    margin:0px;
    padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.grind-icons input:active + .icon-selector {
    opacity: .9;
    border: 1px solid #3ab54b;
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.reviews {
    display: flex;
    width: 100%;
    background-color:rgba(199, 199, 199, 0.2);
    justify-content: center;
}

.fa-star {
    color: #3ab54b;
}

.single-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    padding: 1.5%;
}

.review-title {
    font-weight: 700;
}

.review-quote p{
    position: relative;
    font-family: 'Sanchez', serif;
    font-size: 1em;
    line-height: 1em;
    font-style: italic;
}
.review-quote p:before {
        content: "\201C";
        position: absolute;
        top: 0.25em;
        left: -0.15em;
        color: rgba(58, 181, 75, 0.3);
        font-size: 6em;
        z-index: 1;
     }

.aeropress {
    background-image: url(http://localhost/kiwicoffeeco2/aeropress-icon.png);
}
.aeropress:hover {
    background-image: none;
    background-color: #3ab54b;
    content: "Aeropress";
}

.moka {
    background-image: url(http://localhost/kiwicoffeeco2/moka-icon.png);
}
.moka:hover {
    background-image: none;
    background-color: #3ab54b;
    content: "Moka";
}

.chemex {
    background-image: url(http://localhost/kiwicoffeeco2/chemex-icon.png);
}

.drip {
    background-image: url(http://localhost/kiwicoffeeco2/drip-icon.png);
    background-size: 100%;
}

.espresso {
    background-image: url(http://localhost/kiwicoffeeco2/espresso-icon.png);
}

.icon-selector{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:75px;
    height:75px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    padding: 0px;

}
.icon-selector:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
